.about {
    // background: #24637d;
    // height: $height-all;
    .about-container {
        h2 {
            margin: 0;
            text-align: center;
            font-size: 5em;
            font-family: humblleRought, Arial, Helvetica, sans-serif;
        }
        .slide {
            padding-top: 5em;
            background: #007bc5;
            height: $height-all;
            .slide-container {
                width: 100%;
                // flex-direction: column;
                .text {
                    text-align: center;
                    font-size: 1.5rem;
                    width: 22em;
                }
                .picture {
                    border-radius: 50%;
                    width: 14em;
                    height: 14em;
                }
                .gallery-container, .gallery-container > img {
                    width: 20em;
                }
                .gallery-container {
                    margin-bottom: .3em;
                }
            }
        }
    }
}