@import './../base/variables';

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5em;
    background: none;
    .logo {
        img {
            width: 9em;
            height: 4em;
        }
    }
    .navigation {
        .menu > .menu-text > a {
            color: $nav-items-color;
            font-size: 1.2em;
            display: block;
            padding: .4em 0;
            border-radius: 7px;
        }
        .menu > .menu-text a:hover {
            text-decoration: underline;
            color: #FFFFFF;
        }
        .active {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}