@import './base/flexboxgrid.css';
@import './base/normalize.css';


.container {
    margin-left: 24rem;
}

//reset
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
@import './components/navigation.scss';