@import './base/flexboxgrid.css';
@import './base/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import '../assets/fonts/fonts.css';

@import '../assets/fonts/beto/beto.css';
@import './base/variables.scss';

body{
    font-family: 'Ubuntu', sans-serif;
    background: $default-background;
    color: white;
}

.wrapper {
    // margin-top: 10rem;
    // padding: 20px;
    animation: wrapper .7s;
    // background: red;
}

//reset
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@import './components/navigation.scss';
@import './components/picture.scss';
@import './components/navFooter.scss';
@import './components/home.scss';
@import './components/about.scss';
@import './components/gallery.scss';